.navbar #navbarTogglerDemo02 .navbar-nav .nav-item a {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  color: #172b4d;
}

.headline {
    background-image: url(photo/Header-llustration-desktop@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    padding: 140px 0px;
  height: 726px;
}

.headline h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #36b37f;
}

.headline #intro {
  color: #172b4d;
}

.supporting-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #172b4d;
  text-align: center;
}

.headline .action .fa-chevron-down {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
  padding: 15px;
  margin-left: 22px;
}
#work {
    margin-top: 150px;
}
#work .work-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    text-align: center;
    text-transform: capitalize;
}
.card .card-body .card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #3a4a42;
}
.card .card-body .tag {
    padding: 8px 12px;
    background: #ebf0ee;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
    margin-right: 5px;
}
#about {
    margin-top: 150px;
    background-image: url(photo/illustration\ about\ me\ desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
}
#about .about-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
}
#about .container .supporting-text {
    color: #42526E;
}
#about #about-me-img {
    position: absolute;
    width: 288.04px;
    height: 129.24px;
    left: -52.62px;
    top: 2330px;
}
#about .container .card {
    width: 369px;
    height: 352px;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
    transition: all 0.5s ease-out;
    margin: 40px 0px;
}
#about .container .card:hover {
    transform: scale(1.05);
}
#about .container .card .about-img {
    width: 120px;
    height: 120px;
    margin: 40px 0 10px 124px;
}
#about .container .card .card-body .card-title {
    color: #344563;
}
#about .container .card .card-body .tag {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    color: #36b37e;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
}